{% load staticfiles %}
<!DOCTYPE html>
<html >
   <head>
      <meta charset="UTF-8">
      <title>Sign Up</title>
      <link rel='stylesheet prefetch' href='https://fonts.googleapis.com/css?family=Open+Sans:400,300'>
      <link rel='stylesheet prefetch' href='https://fonts.googleapis.com/icon?family=Material+Icons'>
      <link rel="stylesheet" href="{% static 'assets/css/styleSignupLogin.css' %}">
   </head>
   <body>
      <div class="cotn_principal">
         <div class="cont_centrar">
            <div class="cont_login">
               <div class="cont_info_log_sign_up">
                  <div class="col_md_login">
                     <div class="cont_ba_opcitiy">
                        <h2>WELCOME TO RECOMMENDO</h2>
                        <p><em>The</em> go-to movie website</p>
                        <button class="btn_login" onclick="cambiar_login()">A glimpse of what awaits you!</button>
                     </div>
                  </div>
                  <div class="col_md_sign_up">
                     <div class="cont_ba_opcitiy">
                        <h2>SIGN UP</h2>
                        <p>Sign up for a new account.</p>
                        <button class="btn_sign_up" onclick="cambiar_sign_up()">SIGN UP</button>
                     </div>
                  </div>
               </div>
               <div class="cont_back_info">
                  <div class="cont_img_back_grey">
                     <img src="https://static1.squarespace.com/static/55396962e4b053ce148cb1e1/t/57210fcab6aa60cca01f49fb/1461784525042/rolleiflex-brooklyn-film-camera.jpg?format=1500w" alt="" />
                  </div>
               </div>
               <div class="cont_forms" >
                  <div class="cont_img_back_">
                     <img src="https://static1.squarespace.com/static/55396962e4b053ce148cb1e1/t/57210fcab6aa60cca01f49fb/1461784525042/rolleiflex-brooklyn-film-camera.jpg?format=1500w" alt="" />
                  </div>
                  <div class="cont_form_login">
                     <a href="#" onclick="ocultar_login_sign_up()" ><i class="material-icons">&#xE5C4;</i></a>
                     <h2>MOVIES</h2>
                     <!-- <input type="text" placeholder="Email" />
                     <input type="password" placeholder="Password" /> -->
                     <!-- <button class="btn_login" onclick="cambiar_login()">LOGIN</button> -->
                     <br>
                     <img src="{% static 'assets/img/f.jpg' %}" width="300" height="250">
                  </div>
                  <div class="cont_form_sign_up">
                     <a href="#" onclick="ocultar_login_sign_up()"><i class="material-icons">&#xE5C4;</i></a>
                     <h2>SIGN UP</h2>
                     <form id="user_form" method="post" action="{% url 'add_user' %}">
                           {% csrf_token %}
                           <!-- Display each form. The as_p method wraps each element in a paragraph
                                (<p>) element. This ensures each element appears on a new line,
                                making everything look neater. -->

                          {{ user_form.as_p }}
                          {{ profile_form.as_p }}
                     <button class="btn_sign_up" onclick="cambiar_sign_up()">SIGN UP</button>
                  </div>
               </div>
            </div>
         </div>
      </div>
      <script  src="{% static 'assets/js/indexSignupLogin.js' %}"></script>
   </body>
</html>