@import url('https://fonts.googleapis.com/css?family=Roboto');

@media (min-width: 992px) {
    body {
        padding: 56px;


    }
}

.hw
{
  width: 100px;
  height: 1px;
}

.hc{
  width:1px;
  height: 100px;
}
